body {
    background: linear-gradient(to right, #f0f8ff, #e6e6fa);
    font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffebcd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff4500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e63900;
    transform: scale(1.05);
}

input[type="text"]:focus {
    border: 2px solid #ff4500;
    box-shadow: 0 0 5px rgba(255, 69, 0, 0.5);
    outline: none;
}


.watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    z-index: 1000;
}

.github-icon {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

.github-icon img {
    width: 30px; 
    height: 30px; 
}
